.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

h1 {
  margin: 1vmin 2vmin 2vmin 2vmin;
}

h4 {
  font-weight: normal;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.navbar {
  border-width: 1px 0;
  border-radius: 0;
  background-clip: padding-box;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  border-bottom: 1px rgba(50, 50, 93, 0.2) solid;
  padding: 0.5vmin 15vmin;
}

.nav-button {
  color: black;
  font-size: calc(6px + 2.5vmin);
  padding: 2vmin;
  min-width: 20vmin;
  text-align: center;
}

.subsection-title {
  text-align: center;
}

div.page {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 4vmin 0;
}

div.qa {
  text-align: center;
  margin: 0 12vmin 4vmin 12vmin;
}

.question {
  margin: 0 1vmin 1vmin 1vmin;
}

.aboutus-desc {
  margin: 0 12vmin;
  min-height: 40vh;
  text-align: center;
  max-width: 60vmax;
}
